<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center" style="color:red">Welcome to INDIAN States and UT's</h1>
<div class='mt-4 text-center'>
        <button  style="color:green" type="button"  class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div>
<div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Karnataka">Karnataka</a></button>
      </div>
<div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div>
<div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div>
<div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div>
<div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div>
<br><br>
<div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div>
<br><br>
<div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div>
<br><br>
<div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div><div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div><div class='mt-4 text-center'>
        <button  type="button" class="btn-get-conatct scrollto border-0" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"><a href="https://en.wikipedia.org/wiki/Andhra_Pradesh"> Andra Pradesh</a></button>
      </div>




</body>
</html>